In [1]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd

In [2]:
# 멜론차트 TOP100에서 노래 제목, 가수 명 크롤링
U_A = {"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36 Edg/125.0.0.0"}
res = req.get("https://www.melon.com/chart/index.htm", headers = U_A)
html = bs(res.text, "lxml")
title = html.select("div.ellipsis.rank01 > span > a")
artist = html.select("div.ellipsis.rank02 > span")
print(len(title))
print(len(artist))

songs = []
names = []
for i in range(len(title)) :
    songs.append(title[i].text)
    names.append(artist[i].text)

result = {"곡 명" : songs, "가수 명" : names}
df_data = pd.DataFrame(result, index = range(1, len(songs)+1))
df_data.index.name = "순위"
df_data

100
100

                      곡 명          가수 명
순위
1               Supernova         aespa
2               How Sweet      NewJeans
3              Bubble Gum      NewJeans
4    SPOT! (feat. JENNIE)     지코 (ZICO)
5               해야 (HEYA)     IVE (아이브)
..                    ...           ...
96                 Baddie     IVE (아이브)
97               You & Me   제니 (JENNIE)
98                버추얼 아이돌         PLAVE
99                 Kitsch     IVE (아이브)
100                 꿈결같아서  민니 ((여자)아이들)

[100 rows x 2 columns]

In [3]:
df_data.to_csv("../data/melon100.csv", encoding = "utf-8")