In [1]:
import yfinance as yf

In [2]:
# 기간
start_date = "2021-01-01"
end_date = "2024-06-01"

# 종목
bitcoin = "BTC-USD"
gold = "GC=F"
usd = "KRW=X"
wti = "CL=F"
brent = "BZ=F"
sample = "080220.KQ"

In [3]:
# 금 티커 데이터 수집
yf.download(gold, start_date, end_date)
gold_close = yf.download(gold, start_date, end_date)["Adj Close"]
gold_close

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

Date
2021-01-04    1944.699951
2021-01-05    1952.699951
2021-01-06    1906.900024
2021-01-07    1912.300049
2021-01-08    1834.099976
                 ...
2024-05-24    2332.500000
2024-05-28    2355.199951
2024-05-29    2340.300049
2024-05-30    2342.899902
2024-05-31    2322.899902
Name: Adj Close, Length: 859, dtype: float64

In [4]:
# 원달러 티커 데이터 수집
yf.download(usd, start_date, end_date)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-01,1083.500000,1088.500000,1083.500000,1084.650024,1084.650024,0
2021-01-04,1084.729980,1086.469971,1079.219971,1084.729980,1084.729980,0
2021-01-05,1085.609985,1089.729980,1081.670044,1086.619995,1086.619995,0
2021-01-06,1085.650024,1088.589966,1083.250000,1086.449951,1086.449951,0
2021-01-07,1085.250000,1096.000000,1084.829956,1086.949951,1086.949951,0
...,...,...,...,...,...,...
2024-05-27,1365.709961,1366.920044,1360.050049,1365.709961,1365.709961,0
2024-05-28,1360.930054,1362.810059,1354.849976,1360.930054,1360.930054,0
2024-05-29,1362.760010,1370.270020,1362.729980,1362.760010,1362.760010,0
2024-05-30,1370.550049,1380.930054,1369.739990,1370.550049,1370.550049,0
2024-05-31,1375.619995,1387.489990,1375.359985,1375.619995,1375.619995,0

In [5]:
# 비트코인 티커 데이터 수집
yf.download(bitcoin, start_date, end_date)
bit_close = yf.download(bitcoin, start_date, end_date)["Adj Close"]
bit_close

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

Date
2021-01-01    29374.152344
2021-01-02    32127.267578
2021-01-03    32782.023438
2021-01-04    31971.914062
2021-01-05    33992.429688
                  ...
2024-05-27    69394.554688
2024-05-28    68296.218750
2024-05-29    67578.093750
2024-05-30    68364.992188
2024-05-31    67491.414062
Name: Adj Close, Length: 1247, dtype: float64

### 테스트 코드
- 종목 : 제주반도체

In [6]:
# 코스피 : .KS
# 코스닥 : .KQ

jeju = yf.download(sample, start_date, end_date)

# 컬럼 추가 (증감량)
# diff() : 행과 행의 차이
jeju["change"] = jeju["Adj Close"].diff()#.abs() 상승, 하락 관계 없으면 절대 값 사용

# 컬럼 추가 (수익률)
# pct_change() : (다음행 - 현재행) ÷ 현재행
jeju["daily_return"] = jeju["Adj Close"].pct_change()*100
jeju

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,change,daily_return
Date,,,,,,,,
2021-01-04,3770.0,3790.0,3700.0,3740.0,3740.0,770788,NaN,NaN
2021-01-05,3740.0,3740.0,3655.0,3700.0,3700.0,490077,-40.0,-1.069519
2021-01-06,3705.0,3995.0,3705.0,3815.0,3815.0,4105868,115.0,3.108108
2021-01-07,3865.0,4655.0,3825.0,4180.0,4180.0,28056870,365.0,9.567497
2021-01-08,4230.0,4285.0,4060.0,4205.0,4205.0,4812752,25.0,0.598086
...,...,...,...,...,...,...,...,...
2024-05-27,20800.0,21100.0,20300.0,21000.0,21000.0,1054767,300.0,1.449275
2024-05-28,21200.0,21200.0,20800.0,21150.0,21150.0,778921,150.0,0.714286
2024-05-29,21400.0,24300.0,21200.0,22700.0,22700.0,8155709,1550.0,7.328605
2024-05-30,22350.0,22600.0,21500.0,21650.0,21650.0,1352793,-1050.0,-4.625551
2024-05-31,21400.0,22000.0,21250.0,21450.0,21450.0,817759,-200.0,-0.923788

In [7]:
# 특정 기간 수익률 계산 함수
def period_return(ticker, start_d, end_d) :
    data = yf.download(ticker, start = start_d, end = end_d)
    # 시작일, 종료일의 종가 -> 위치 인덱싱 사용
    start_price = data["Adj Close"].iloc[0] # DF의 첫 번째 행
    end_price = data["Adj Close"].iloc[-1] # DF의 마지막 행
    # 수익률 계산
    return (end_price - start_price) / start_price * 100

In [8]:
period_return(sample, "2024-02-01", "2024-06-01")

[*********************100%%**********************]  1 of 1 completed

-22.282608695652172

In [9]:
max_change_idx = jeju["change"].idxmax().strftime("%Y-%m-%d") # change 컬럼에서 최댓값의 인덱스 반환
max_change_idx

'2024-03-28'

In [10]:
top10_change = jeju.nlargest(10, 'change') # change 컬럼에서 상위 10개 값의 row 추출
top10_change

,Open,High,Low,Close,Adj Close,Volume,change,daily_return
Date,,,,,,,,
2024-03-28,23500.0,29000.0,23050.0,28600.0,28600.0,27918940,5250.0,22.483940
2024-01-19,23150.0,26950.0,21900.0,26250.0,26250.0,38373060,5000.0,23.529412
2024-01-22,27900.0,31600.0,27550.0,30700.0,30700.0,25971060,4450.0,16.952381
2024-01-15,17840.0,21250.0,17510.0,21150.0,21150.0,22329970,3100.0,17.174515
2024-01-24,31050.0,34850.0,29550.0,33800.0,33800.0,14980960,3100.0,10.097720
2024-01-02,13370.0,16990.0,13150.0,16700.0,16700.0,24147850,3000.0,21.897810
2024-02-06,24650.0,29200.0,22200.0,27450.0,27450.0,27558960,2950.0,12.040816
2024-02-14,28950.0,33400.0,28850.0,32300.0,32300.0,17882320,2400.0,8.026756
2023-12-08,9300.0,11620.0,9020.0,11280.0,11280.0,36652960,2340.0,26.174497
2024-03-04,27500.0,29500.0,27500.0,29250.0,29250.0,7137102,2150.0,7.933579

In [11]:
top10_change.index

DatetimeIndex(['2024-03-28', '2024-01-19', '2024-01-22', '2024-01-15',
               '2024-01-24', '2024-01-02', '2024-02-06', '2024-02-14',
               '2023-12-08', '2024-03-04'],
              dtype='datetime64[ns]', name='Date', freq=None)