In [1]:
import yfinance as yf

In [2]:
# 금 티커 데이터 수집
gold = "GC=F"
yf.download(gold, "2021-01-01", "2024-01-01")
gold_close = yf.download(gold, "2021-01-01", "2024-01-01")["Adj Close"]
gold_close

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

Date
2021-01-04    1944.699951
2021-01-05    1952.699951
2021-01-06    1906.900024
2021-01-07    1912.300049
2021-01-08    1834.099976
                 ...
2023-12-22    2057.100098
2023-12-26    2058.199951
2023-12-27    2081.899902
2023-12-28    2073.899902
2023-12-29    2062.399902
Name: Adj Close, Length: 754, dtype: float64

In [3]:
# 비트코인 티커 데이터 수집
bitcoin = "BTC-USD"
yf.download(bitcoin, "2021-01-01", "2024-01-01")
# bit_close = yf.download(gold, "2021-01-01", "2024-01-01")["Adj Close"]
# bit_close

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-01,28994.009766,29600.626953,28803.585938,29374.152344,29374.152344,40730301359
2021-01-02,29376.455078,33155.117188,29091.181641,32127.267578,32127.267578,67865420765
2021-01-03,32129.408203,34608.558594,32052.316406,32782.023438,32782.023438,78665235202
2021-01-04,32810.949219,33440.218750,28722.755859,31971.914062,31971.914062,81163475344
2021-01-05,31977.041016,34437.589844,30221.187500,33992.429688,33992.429688,67547324782
...,...,...,...,...,...,...
2023-12-27,42518.468750,43683.160156,42167.582031,43442.855469,43442.855469,25260941032
2023-12-28,43468.199219,43804.781250,42318.550781,42627.855469,42627.855469,22992093014
2023-12-29,42614.644531,43124.324219,41424.062500,42099.402344,42099.402344,26000021055
2023-12-30,42091.753906,42584.125000,41556.226562,42156.902344,42156.902344,16013925945
2023-12-31,42152.097656,42860.937500,41998.253906,42265.187500,42265.187500,16397498810

In [4]:
# 코스피 : .KS
# 코스닥 : .KQ
ticker = "080220.KQ"
jeju = yf.download(ticker, "2023-09-01", "2024-06-01")
jeju["change"] = jeju["Adj Close"].diff()#.abs() 상승, 하락 관계 없으면 절대 값 사용
jeju

[*********************100%%**********************]  1 of 1 completed

               Open     High      Low    Close  Adj Close   Volume  change
Date
2023-09-01   4395.0   4620.0   4395.0   4575.0     4575.0   977392     NaN
2023-09-04   4620.0   4620.0   4450.0   4505.0     4505.0   386461   -70.0
2023-09-05   4475.0   4575.0   4450.0   4500.0     4500.0   228514    -5.0
2023-09-06   4540.0   4575.0   4440.0   4450.0     4450.0   272391   -50.0
2023-09-07   4410.0   4600.0   4350.0   4545.0     4545.0   575873    95.0
...             ...      ...      ...      ...        ...      ...     ...
2024-05-27  20800.0  21100.0  20300.0  21000.0    21000.0  1054767   300.0
2024-05-28  21200.0  21200.0  20800.0  21150.0    21150.0   778921   150.0
2024-05-29  21400.0  24300.0  21200.0  22700.0    22700.0  8155709  1550.0
2024-05-30  22350.0  22600.0  21500.0  21650.0    21650.0  1352793 -1050.0
2024-05-31  21400.0  22000.0  21250.0  21450.0    21450.0   817759  -200.0

[181 rows x 7 columns]

In [5]:
max_change_idx = jeju["change"].idxmax().strftime("%Y-%m-%d") # change 컬럼에서 최댓값의 인덱스 반환
max_change_idx

'2024-03-28'

In [6]:
top10_change = jeju.nlargest(10, 'change') # change 컬럼에서 상위 10개 값의 row 추출
top10_change

               Open     High      Low    Close  Adj Close    Volume  change
Date
2024-03-28  23500.0  29000.0  23050.0  28600.0    28600.0  27918940  5250.0
2024-01-19  23150.0  26950.0  21900.0  26250.0    26250.0  38373060  5000.0
2024-01-22  27900.0  31600.0  27550.0  30700.0    30700.0  25971060  4450.0
2024-01-15  17840.0  21250.0  17510.0  21150.0    21150.0  22329970  3100.0
2024-01-24  31050.0  34850.0  29550.0  33800.0    33800.0  14980960  3100.0
2024-01-02  13370.0  16990.0  13150.0  16700.0    16700.0  24147850  3000.0
2024-02-06  24650.0  29200.0  22200.0  27450.0    27450.0  27558960  2950.0
2024-02-14  28950.0  33400.0  28850.0  32300.0    32300.0  17882320  2400.0
2023-12-08   9300.0  11620.0   9020.0  11280.0    11280.0  36652960  2340.0
2024-03-04  27500.0  29500.0  27500.0  29250.0    29250.0   7137102  2150.0

In [7]:
top10_change.index

DatetimeIndex(['2024-03-28', '2024-01-19', '2024-01-22', '2024-01-15',
               '2024-01-24', '2024-01-02', '2024-02-06', '2024-02-14',
               '2023-12-08', '2024-03-04'],
              dtype='datetime64[ns]', name='Date', freq=None)