In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/IEA-MethaneEmissionsComparison-World.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1506 entries, 0 to 1505
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   region         1506 non-null   object
 1   country        1484 non-null   object
 2   emissions      1506 non-null   int64
 3   source         1506 non-null   object
 4   type           1506 non-null   object
 5   segment        1506 non-null   object
 6   reason         1506 non-null   object
 7   baseYear       1506 non-null   object
 8   emissionsRank  1389 non-null   float64
 9   energyRank     1389 non-null   float64
 10  notes          638 non-null    object
dtypes: float64(2), int64(1), object(8)
memory usage: 129.6+ KB

,region,country,emissions,source,type,segment,reason,baseYear,emissionsRank,energyRank,notes
0,Africa,Algeria,261,IEA,Agriculture,Total,All,2019-2021,19.0,11.0,Average based on United Nations Framework Conv...
1,Africa,Algeria,0,IEA,Energy,Bioenergy,All,2023,19.0,11.0,Estimates from end-uses are for 2020 or 2021 (...
2,Africa,Algeria,45,IEA,Energy,Gas pipelines and LNG facilities,Fugitive,2023,19.0,11.0,NaN
3,Africa,Algeria,71,IEA,Energy,Gas pipelines and LNG facilities,Vented,2023,19.0,11.0,NaN
4,Africa,Algeria,191,IEA,Energy,Onshore gas,Fugitive,2023,19.0,11.0,NaN

In [3]:
df["emissions"].describe()

count      1506.000000
mean        634.982072
std        5513.162359
min           0.000000
25%           2.000000
50%          23.000000
75%         133.000000
max      140639.000000
Name: emissions, dtype: float64

In [4]:
df["baseYear"].unique()

array(['2019-2021', '2023'], dtype=object)

In [5]:
mt2019 = df[df["baseYear"] == "2019-2021"]
mt2023 = df[df["baseYear"] == "2023"]

In [6]:
mt2019["emissions"].describe()

count       288.000000
mean       1533.135417
std        9453.909311
min           0.000000
25%          28.000000
50%         163.500000
75%         677.000000
max      140639.000000
Name: emissions, dtype: float64

In [7]:
mt2019["type"].unique()

array(['Agriculture', 'Other', 'Waste'], dtype=object)

In [8]:
mt2023["type"].unique()

array(['Energy'], dtype=object)

In [9]:
# 메탄 배출량의 합을 그룹화하는 함수 정의
def getEmissionsGroup(df, col):

    return df.groupby(col)["emissions"].sum().sort_values(ascending=False)

In [10]:
# "2019-2021" 기간 동안 메탄 배출량을 배출유형(산업) 별로 그룹화
getEmissionsGroup(mt2019, "type")

type
Agriculture    281282
Waste          141947
Other           18314
Name: emissions, dtype: int64

In [11]:
# "2019-2021" 기간 동안 "농업"에서의 메탄 배출량을 지역(대륙) 별로 그룹화
agriculture_df = mt2019[mt2019["type"] == "Agriculture"]
getEmissionsGroup(agriculture_df, "region")

region
World                        140639
Asia Pacific                  63285
Central and South America     23433
Africa                        15658
North America                 12830
Europe                        12367
Other                          7269
Russia & Caspian               4196
Middle East                    1605
Name: emissions, dtype: int64

In [12]:
# "2019-2021" 기간 동안 "농업"에서의 메탄 배출량을 아시아-태평양 지역 나라 별로 그룹화
region_df = agriculture_df[agriculture_df["region"] == "Asia Pacific"]
getEmissionsGroup(region_df, "country")

country
China                                18560
India                                18348
Pakistan                              5387
Indonesia                             3521
Other countries in Southeast Asia     3320
Bangladesh                            2401
Australia                             2358
Viet Nam                              2187
Thailand                              2122
Philippines                           1721
New Zealand                           1139
Japan                                  988
Mongolia                               531
Korea                                  514
Malaysia                               187
Brunei                                   1
Name: emissions, dtype: int64