## 타이타닉 생존자 예측

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split, KFold, cross_val_score, GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
tt_df = pd.read_csv("../data/titanic_train.csv")
tt_df.head(3)

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [3]:
tt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Gender       891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

### 탑승자 데이터
* Passengerid : 탑승자 데이터 일련번호
* survived : 생존 여부, 0 = 사망, 1 = 생존
* Pclass : 티켓의 선실 등급, 1 = 일등석, 2 = 이등석, 3 = 삼등석
* Gender : 탑승자 성별
* name : 탑승자 이름
* Age : 탑승자 나이
* sibsp : 같이 탑승한 형제자매 또는 배우자 인원수
* parch : 같이 탑승한 부모님 또는 어린이 인원수
* ticket : 티켓 번호
* fare : 요금
* cabin : 선실 번호
* embarked : 중간 정착 항구 C = Cherbourg, Q = Queenstown, S = Southampton

In [4]:
# DataFrame 숫자형 데이터에 대한 통계 요약
# tt_df.describe()
tt_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292

In [5]:
# Null 처리 함수
def fillna(df) :
    df["Age"] = df["Age"].fillna(df["Age"].mean())
    df["Cabin"] = df["Cabin"].fillna("N")
    df["Embarked"] = df["Embarked"].fillna("N")
    return df

# 머신러닝 알고리즘에 불필요한 피처 제거
def drop_features(df) :
    df = df.drop(["PassengerId", "Name", "Ticket"], axis = 1)
    return df

# 레이블 인코딩 수행
def fmt_features(df) :
    df["Cabin"] = df["Cabin"].str[:1]
    features = ["Cabin", "Gender", "Embarked"]
    for i in features :
        le = LabelEncoder()
        le = le.fit(df[i])
        df[i] = le.transform(df[i])
    return df

# 위에서 설정한 Data Preprocessing 함수 호출
def transform_features(df) :
    df = fillna(df)
    df = drop_features(df)
    df = fmt_features(df)
    return df

In [6]:
tt_df.head()

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
# 원본 데이터를 재로드 후, feature 데이터 셋과 label 데이터 셋 추출
tt_df = pd.read_csv("../data/titanic_train.csv")
y_df = tt_df["Survived"]
X_df = tt_df.drop("Survived", axis = 1)

X_df = transform_features(X_df)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X_df, y_df, test_size = 0.2, random_state = 11)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(712, 8) (179, 8) (712,) (179,)

In [9]:
# 결정 트리, RandomForest, 로지스틱 회귀를 위한 사이킷런 Classifier 클래스 생성
dt_clf = DecisionTreeClassifier(random_state = 11)
rf_clf = RandomForestClassifier(random_state = 11)
lr_clf = LogisticRegression(solver = "liblinear")

# DecisionTreeClassifier 학습 / 예측 / 평가
dt_clf.fit(X_train, y_train)
dt_pred = dt_clf.predict(X_test)
print(f"DecisionTreeClassifier 정확도 : {accuracy_score(y_test, dt_pred):.4f}")

# RandomForestClassifier 학습 / 예측 / 평가
rf_clf.fit(X_train, y_train)
rf_pred = rf_clf.predict(X_test)
print(f"RandomForestClassifier 정확도 : {accuracy_score(y_test, rf_pred):.4f}")

# LogisticRegression 학습 / 예측 / 평가
lr_clf.fit(X_train, y_train)
lr_pred = lr_clf.predict(X_test)
print(f"LogisticRegression 정확도 : {accuracy_score(y_test, lr_pred):.4f}")

DecisionTreeClassifier 정확도 : 0.7877
RandomForestClassifier 정확도 : 0.8547
LogisticRegression 정확도 : 0.8659

In [10]:
X_df

     Pclass  Gender        Age  SibSp  Parch     Fare  Cabin  Embarked
0         3       1  22.000000      1      0   7.2500      7         3
1         1       0  38.000000      1      0  71.2833      2         0
2         3       0  26.000000      0      0   7.9250      7         3
3         1       0  35.000000      1      0  53.1000      2         3
4         3       1  35.000000      0      0   8.0500      7         3
..      ...     ...        ...    ...    ...      ...    ...       ...
886       2       1  27.000000      0      0  13.0000      7         3
887       1       0  19.000000      0      0  30.0000      1         3
888       3       0  29.699118      1      2  23.4500      7         3
889       1       1  26.000000      0      0  30.0000      2         0
890       3       1  32.000000      0      0   7.7500      7         2

[891 rows x 8 columns]

In [11]:
X_df.values[[0, 1, 2, 3, 4, 5]]

array([[ 3.        ,  1.        , 22.        ,  1.        ,  0.        ,
         7.25      ,  7.        ,  3.        ],
       [ 1.        ,  0.        , 38.        ,  1.        ,  0.        ,
        71.2833    ,  2.        ,  0.        ],
       [ 3.        ,  0.        , 26.        ,  0.        ,  0.        ,
         7.925     ,  7.        ,  3.        ],
       [ 1.        ,  0.        , 35.        ,  1.        ,  0.        ,
        53.1       ,  2.        ,  3.        ],
       [ 3.        ,  1.        , 35.        ,  0.        ,  0.        ,
         8.05      ,  7.        ,  3.        ],
       [ 3.        ,  1.        , 29.69911765,  0.        ,  0.        ,
         8.4583    ,  7.        ,  2.        ]])

In [12]:
# 검증
def exec_kfold(clf, folds = 5) :
    # 폴드 세트가 5개인 Kfold 객체 생성
    kfold = KFold(n_splits = folds)
    # 폴드 수만큼 예측 결과 저장을 위한 리스트 객체 생성
    scores = []
    
    # KFold 교차 검증 수행
    # enumerate() : index와 values를 같이 반환
    for i, (train_idx, test_idx) in enumerate(kfold.split(X_df)) :
        # X_df 데이터에서 교차 검증 별로 학습과 검증 데이터를 가리키는 idx 생성
        X_train, X_test = X_df.values[train_idx], X_df.values[test_idx]
        y_train, y_test = y_df.values[train_idx], y_df.values[test_idx]
        
        # Classifier 학습 / 예측 / 정확도 계산
        clf.fit(X_train, y_train)
        predictions = clf.predict(X_test)
        accuracy = accuracy_score(y_test, predictions)
        scores.append(accuracy)
        print(f"교차 검증 {i} 정확도 : {accuracy:.4f}")
        
    # 5개 fold에서의 평균 정확도 계산
    mean_score = np.mean(scores)
    print(f"평균 정확도 : {mean_score:.4f}")
    
# exec_kfold 호출
exec_kfold(dt_clf)

교차 검증 0 정확도 : 0.7542
교차 검증 1 정확도 : 0.7809
교차 검증 2 정확도 : 0.7865
교차 검증 3 정확도 : 0.7697
교차 검증 4 정확도 : 0.8202
평균 정확도 : 0.7823

In [13]:
scores = cross_val_score(dt_clf, X_df, y_df, cv = 5)

for i, accuracy in enumerate(scores) :
    print(f"교차 검증 {i} 정확도 : {accuracy:.4f}")    
    
print(f"평균 정확도 : {np.mean(scores):.4f}")

교차 검증 0 정확도 : 0.7430
교차 검증 1 정확도 : 0.7753
교차 검증 2 정확도 : 0.7921
교차 검증 3 정확도 : 0.7865
교차 검증 4 정확도 : 0.8427
평균 정확도 : 0.7879

In [14]:
# 하이퍼 파라미터 성능 튜닝
params = {"max_depth" : [2, 3, 5, 10], "min_samples_split" : [2, 3, 5], "min_samples_leaf" : [1, 5, 8]}
grid_dclf = GridSearchCV(dt_clf, param_grid = params, scoring = "accuracy", cv = 5) # refit은 default가 True
grid_dclf.fit(X_train, y_train)

print(f"GridSearchCV 최적 하이퍼 파라미터 : {grid_dclf.best_params_}")
print(f"GridSearchCV 최고 정확도 : {grid_dclf.best_score_:.4f}")
best_dclf = grid_dclf.best_estimator_

# GridSearchCV의 최적 하이퍼 파라미터로 학습된 Estimator로 에측 / 평가 수행
dpred = best_dclf.predict(X_test)
accuracy = accuracy_score(y_test, dpred)
print(f"테스트 세트에서의 DecisionTreeClassifier 정확도 : {accuracy:.4f}") # 하이퍼 파라미터 성능 튜닝 후, 정확도가 상승

GridSearchCV 최적 하이퍼 파라미터 : {'max_depth': 3, 'min_samples_leaf': 5, 'min_samples_split': 2}
GridSearchCV 최고 정확도 : 0.7992
테스트 세트에서의 DecisionTreeClassifier 정확도 : 0.8715