### 수치형 데이터

In [92]:
import pandas as pd

In [93]:
df = pd.read_csv("../data/movie_ratings.csv")
# df.head()
df

     UserID  MovieID  Rating  Age  Occupation    Genre
0        45        8       4   55  Unemployed   Horror
1        48        5       3   15    Engineer   Action
2        65        4       2   55     Student  Romance
3        68        6       5   45      Doctor   Comedy
4        68        7       4   25    Engineer  Romance
..      ...      ...     ...  ...         ...      ...
495       4        4       4   50      Doctor   Action
496      13       14       4   55     Student   Horror
497      59        5       5   40     Student   Comedy
498       2       20       3   40      Artist   Action
499       1        7       2   20      Artist  Romance

[500 rows x 6 columns]

In [94]:
# 1. 리뷰 작성자 나이(Age)의 평균, 최소값, 최대 값을 출력
print("avg : ", df["Age"].mean())
print("min : ", df["Age"].min())
print("max : ", df["Age"].max())

avg :  38.52
min :  15
max :  60

In [95]:
df["Rating"].describe()

count    500.000000
mean       2.998000
std        1.434612
min        1.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        5.000000
Name: Rating, dtype: float64

In [96]:
# 2. 평점(Rating)의 기술 통계량(개수, 평균, 표준편차, 최소값, 최대값, 사분위 수)을 출력
print("개수 : ", df["Rating"].count())
print("평균 : ", df["Rating"].mean())
print("표준편차 : ", df["Rating"].std())
print("최소 값 : ", df["Rating"].min())
print("최대 값 : ", df["Rating"].max())
print("사분위 수 : ", df["Rating"].quantile())

개수 :  500
평균 :  2.998
표준편차 :  1.4346122209325063
최소 값 :  1
최대 값 :  5
사분위 수 :  3.0

In [97]:
df.mode()

   UserID  MovieID  Rating  Age Occupation    Genre
0       1        6       1   30     Artist  Romance

In [98]:
# 3. 리뷰가 가장 많은 영화 ID (최빈 값)
mv_id = df["MovieID"].mode()[0]
# df.mode()["MovieID"][0] # 위와 동일
mv_id

6

In [99]:
mv_data = df[df["MovieID"] == mv_id]  # 리뷰가 가장 많은 영화 ID의 모든 데이터
len(mv_data)

40

In [100]:
# mv_data의 shape 를 찍으면 데이터의 길이를 출력 가능 -> 이 것이 리뷰 개수가 됨
# shape 속성 : 행과 컬럼의 수를 저장한 속성
# shape[0] : 행의 수
# shape[1] : 컬럼의 수
mv_data.shape

(40, 6)

In [101]:
print(f"MovieID : {mv_id}, 리뷰 수 : {len(mv_data)}")

MovieID : 6, 리뷰 수 : 40

In [102]:
# 내 풀이
# 리뷰가 가장 많은 영화 ID(MovieID)를 찾고, 해당 영화의 리뷰 수를 출력
rv = df["MovieID"].value_counts()
# rv

cnt = 0
mv_info = {}

for i, v in rv.items():
    if v > cnt:
        cnt = v
        mv_info = {"idx": i, "value": v}

print(cnt)
# mv_info

print(f"MovieID : {mv_info['idx']}, 리뷰 수 : {mv_info['value']}")

40
MovieID : 6, 리뷰 수 : 40

- 자동차 연비 데이터 탐색

In [103]:
df2 = pd.read_csv("../data/auto-mpg.csv")
# df2.head()
df2

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [104]:
# 1. 70 ~ 79년도(model year)의 자동차 연비(mpg) 평균을 출력
year = []
for i in range(70, 80):
    year.append(i)

year

[70, 71, 72, 73, 74, 75, 76, 77, 78, 79]

In [105]:
car_70s = df2[df2["model year"].isin(year)]
print(f"연비 평균 : {car_70s['mpg'].mean()}")

연비 평균 : 21.096763754045305

In [122]:
# 70 ~ 79까지의 각 년도(model year)의 자동차 연비(mpg) 평균을 출력
for i in range(70, 80):
    print(i, df2[df2["model year"] == i]["mpg"].mean())

70 17.689655172413794
71 21.25
72 18.714285714285715
73 17.1
74 22.703703703703702
75 20.266666666666666
76 21.573529411764707
77 23.375
78 24.061111111111114
79 25.09310344827585

In [106]:
avg_hp = df2["horsepower"].mean()
print(f"평균 마력 : {avg_hp}")

# 2. 평균 마력(horsepower)보다 작은 자동차들의 연비(mpg) 평균을 출력
filtered_df1 = df2[df2["horsepower"] < avg_hp]
filtered_df1

평균 마력 : 104.46231155778895

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
14,24.0,4,113.0,95,2372,15.0,70,3,toyota corona mark ii
15,22.0,6,198.0,95,2833,15.5,70,1,plymouth duster
16,18.0,6,199.0,97,2774,15.5,70,1,amc hornet
17,21.0,6,200.0,85,2587,16.0,70,1,ford maverick
18,27.0,4,97.0,88,2130,14.5,70,3,datsun pl510
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [107]:
# 평균 마력(horsepower)보다 작은 자동차들의 연비(mpg) 평균을 출력
filtered_df1["mpg"].mean()

27.542

In [108]:
# 3. 평균 마력(horsepower)보다 큰 자동차들의 연비(mpg)평균을 출력
filtered_df2 = df2[df2["horsepower"] > avg_hp]
filtered_df2["mpg"].mean()

16.71148648648649

In [139]:
# 4. 무게(wiehgt)가 가장 무거운 차와 가장 가벼운 차의 연비를 출력
min_wiehgt = df2["weight"].min()
max_wiehgt = df2["weight"].max()
print(min_wiehgt, max_wiehgt)

1613 5140

In [140]:
# 무게(wiehgt)가 가장 가벼운 차의 연비
min_wiehgt_mpg = df2[df2["weight"] == min_wiehgt]["mpg"]
min_wiehgt_mpg

54    35.0
Name: mpg, dtype: float64

In [144]:
print(f"무게(wiehgt)가 가장 가벼운 차의 연비 : {min_wiehgt_mpg.values[0]}")

무게(wiehgt)가 가장 가벼운 차의 연비 : 35.0

In [145]:
# 무게(wiehgt)가 가장 무거운 차의 연비
max_wiehgt_mpg = df2[df2["weight"] == max_wiehgt]["mpg"]
max_wiehgt_mpg

44    13.0
Name: mpg, dtype: float64

In [146]:
print(f"무게(wiehgt)가 가장 가벼운 차의 연비 : {max_wiehgt_mpg.values[0]}")

무게(wiehgt)가 가장 가벼운 차의 연비 : 13.0