# ë°ì´í„° ìš”ì•½

- ê·¸ë£¹í™”

### (1) Groupby

- ë°ì´í„°ë¥¼ ê·¸ë£¹í™”í•˜ê³ , ê·¸ë£¹ë³„ë¡œ ê³„ì‚° ì‘ì—…ì„ í•  ìˆ˜ ìˆëŠ” ë„êµ¬.
- ë³µì¡í•œ ë°ì´í„° ì§‘í•©ì—ì„œ íŠ¹ì • ê¸°ì¤€ìœ¼ë¡œ ê·¸ë£¹í™”í•˜ê³ , ê·¸ë£¹ë³„ë¡œ ë°ì´í„°ë¥¼ ìš”ì•½í•˜ê±°ë‚˜ í†µê³„ì¹˜ë¥¼ ê³„ì‚°í•  ìˆ˜ ìˆë‹¤.
- ë™ì‘ ìˆœì„œ
  1. ë¶„í• (Split) : ë°ì´í„°ë¥¼ íŠ¹ì • ê¸°ì¤€ì— ë”°ë¼ ì—¬ëŸ¬ ê·¸ë£¹ìœ¼ë¡œ ë¶„í• í•œë‹¤.
  2. ì ìš©(Apply) : ê° ê·¸ë£¹ì— ëŒ€í•´ í•˜ë‚˜ ì´ìƒì˜ í•¨ìˆ˜ë¥¼ ì ìš©í•˜ì—¬ ê²°ê³¼ë¥¼ ì–»ìŠµë‹ˆë‹¤.
  3. ê²°í•©(Combine) : ëª¨ë“  í•¨ìˆ˜ ì ìš© ê²°ê³¼ë¥¼ í•˜ë‚˜ì˜ ë°ì´í„° êµ¬ì¡°ë¡œ ê²°í•©í•œë‹¤.

### **(2) ê¸°ë³¸ ì‚¬ìš©ë²•**

- **`DataFrmae.groupby("ì—´ ì´ë¦„").ì§‘ê³„ í•¨ìˆ˜`**
  - í•˜ë‚˜ì˜ ì—´ì„ ê¸°ì¤€ìœ¼ë¡œ ê·¸ë£¹í™” í•œë‹¤.
- **`DataFrmae.groupby(["ì—´ ì´ë¦„ 1", "ì—´ ì´ë¦„ 2", ...]).ì§‘ê³„ í•¨ìˆ˜`**
  - ë‘ ê°œ ì´ìƒì˜ ì—´ì„ ê¸°ì¤€ìœ¼ë¡œ ê·¸ë£¹í™” í•œë‹¤.

ğŸ’¡ ì§‘ê³„ í•¨ìˆ˜

- sum() : í•©ê³„
- mean() : í‰ê· 
- median() : ì¤‘ì•™ê°’
- min() : ìµœì†Œê°’
- max() : ìµœëŒ€ê°’
- count() : ê·¸ë£¹ ë‚´ ë°ì´í„° ìˆ˜
- std() : í‘œì¤€í¸ì°¨
- var() : ë¶„ì‚°

In [1]:
import pandas as pd

In [2]:
data = {
    "ë¶€ì„œ": [
        "ì˜ì—…",
        "IT",
        "ì¸ì‚¬",
        "IT",
        "IT",
        "ì¸ì‚¬",
        "ì˜ì—…",
        "IT",
        "ì¸ì‚¬",
        "IT",
        "ì¸ì‚¬",
        "IT",
        "ë§ˆì¼€íŒ…",
        "ì˜ì—…",
        "íšŒê³„",
        "íšŒê³„",
    ],
    "ì´ë¦„": [
        "ê¹€ë¯¼ìˆ˜",
        "ë°•ìˆ˜í˜„",
        "ì´ì˜í˜¸",
        "ìµœì€ì§€",
        "ì •ìš°ì§„",
        "ê¹€ë‹¤ì€",
        "ì´ì •í˜¸",
        "ë°•ì§€ì˜",
        "ì •ì˜ˆìŠ¬",
        "ìµœì„±ë¯¼",
        "í•œê°€ëŒ",
        "ì¥ìˆ˜ì§„",
        "ìœ¤ì„í˜¸",
        "ì‹¬ì§€í˜œ",
        "ì´ë™í˜„",
        "ê¹€ì¤€í˜¸",
    ],
    "ë‚˜ì´": [34, 29, 40, 33, 28, 32, 36, 27, 38, 31, 30, 35, 33, 25, 42, 37],
    "ì—°ë´‰": [
        6500,
        5500,
        5000,
        6200,
        6100,
        5200,
        6400,
        5700,
        5600,
        6300,
        6000,
        5800,
        6600,
        6500,
        7100,
        6900,
    ],
    "ì§€ì—­": [
        "ì„œìš¸",
        "ë¶€ì‚°",
        "ëŒ€êµ¬",
        "ì„œìš¸",
        "ì„œìš¸",
        "ëŒ€êµ¬",
        "ë¶€ì‚°",
        "ì„œìš¸",
        "ëŒ€êµ¬",
        "ì„œìš¸",
        "ëŒ€êµ¬",
        "ì„œìš¸",
        "ë¶€ì‚°",
        "ë¶€ì‚°",
        "ì„œìš¸",
        "ë¶€ì‚°",
    ],
}

df = pd.DataFrame(data)
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ë¶€ì„œ      16 non-null     object
 1   ì´ë¦„      16 non-null     object
 2   ë‚˜ì´      16 non-null     int64
 3   ì—°ë´‰      16 non-null     int64
 4   ì§€ì—­      16 non-null     object
dtypes: int64(2), object(3)
memory usage: 772.0+ bytes

     ë¶€ì„œ   ì´ë¦„  ë‚˜ì´    ì—°ë´‰  ì§€ì—­
0    ì˜ì—…  ê¹€ë¯¼ìˆ˜  34  6500  ì„œìš¸
1    IT  ë°•ìˆ˜í˜„  29  5500  ë¶€ì‚°
2    ì¸ì‚¬  ì´ì˜í˜¸  40  5000  ëŒ€êµ¬
3    IT  ìµœì€ì§€  33  6200  ì„œìš¸
4    IT  ì •ìš°ì§„  28  6100  ì„œìš¸
5    ì¸ì‚¬  ê¹€ë‹¤ì€  32  5200  ëŒ€êµ¬
6    ì˜ì—…  ì´ì •í˜¸  36  6400  ë¶€ì‚°
7    IT  ë°•ì§€ì˜  27  5700  ì„œìš¸
8    ì¸ì‚¬  ì •ì˜ˆìŠ¬  38  5600  ëŒ€êµ¬
9    IT  ìµœì„±ë¯¼  31  6300  ì„œìš¸
10   ì¸ì‚¬  í•œê°€ëŒ  30  6000  ëŒ€êµ¬
11   IT  ì¥ìˆ˜ì§„  35  5800  ì„œìš¸
12  ë§ˆì¼€íŒ…  ìœ¤ì„í˜¸  33  6600  ë¶€ì‚°
13   ì˜ì—…  ì‹¬ì§€í˜œ  25  6500  ë¶€ì‚°
14   íšŒê³„  ì´ë™í˜„  42  7100  ì„œìš¸
15   íšŒê³„  ê¹€ì¤€í˜¸  37  6900  ë¶€ì‚°

In [15]:
# 1. "ì§€ì—­"ì„ ê¸°ì¤€ì„ë¡œ ê·¸ë£¹í™”
grouped = df.groupby("ì§€ì—­")

# 2. ì§‘ê³„ í•¨ìˆ˜ ì ìš© : í•©ê³„
sum_grouped = grouped.sum()

# idx ì´ë¦„ í™•ì¸
sum_grouped.index  # Index(['ëŒ€êµ¬', 'ë¶€ì‚°', 'ì„œìš¸'], dtype='object', name='ì§€ì—­')

# idxë¥¼ ë‹¤ì‹œ ìˆ«ìë¡œ ì‚¬ìš©í•˜ê³  ì‹¶ì€ ê²½ìš°
# sum_grouped.reset_index()

Index(['ëŒ€êµ¬', 'ë¶€ì‚°', 'ì„œìš¸'], dtype='object', name='ì§€ì—­')

In [27]:
# ë¶€ì„œë¥¼ ê¸°ì¤€ìœ¼ë¡œ ê·¸ë£¹í™”
# ì—°ë´‰ì— ëŒ€í•´ í•©ê³„ ì§‘ê³„ í•¨ìˆ˜ ì ìš©
# df.groupby("ë¶€ì„œ").sum("ì—°ë´‰")
df.groupby("ë¶€ì„œ")["ì—°ë´‰"].sum()

ë¶€ì„œ
IT     35600
ë§ˆì¼€íŒ…     6600
ì˜ì—…     19400
ì¸ì‚¬     21800
íšŒê³„     14000
Name: ì—°ë´‰, dtype: int64

In [23]:
# ë¶€ì„œë¥¼ ê¸°ì¤€ìœ¼ë¡œ ê·¸ë£¹í™”
# ë‚˜ì´ì— ëŒ€í•´ í‰ê·  ì§‘ê³„ í•¨ìˆ˜ ì ìš©
# df.groupby("ë¶€ì„œ").mean("ë‚˜ì´")
df.groupby("ë¶€ì„œ")["ë‚˜ì´"].mean()

ë¶€ì„œ
IT     30.500000
ë§ˆì¼€íŒ…    33.000000
ì˜ì—…     31.666667
ì¸ì‚¬     35.000000
íšŒê³„     39.500000
Name: ë‚˜ì´, dtype: float64

In [24]:
# ì§€ì—­, ë¶€ì„œë¥¼ ê¸°ì¤€ìœ¼ë¡œ ê·¸ë£¹í™”
# ê·¸ë£¹í™” í•œ ë°ì´í„°ì˜ ì—°ë´‰ì— ëŒ€í•´ ìµœëŒ€ ê°’ ì§‘ê³„ í•¨ìˆ˜ ì ìš©
# df.groupby(["ì§€ì—­", "ë¶€ì„œ"]).max("ì—°ë´‰")
df.groupby(["ì§€ì—­", "ë¶€ì„œ"])["ì—°ë´‰"].max()

ì§€ì—­  ë¶€ì„œ
ëŒ€êµ¬  ì¸ì‚¬     6000
ë¶€ì‚°  IT     5500
    ë§ˆì¼€íŒ…    6600
    ì˜ì—…     6500
    íšŒê³„     6900
ì„œìš¸  IT     6300
    ì˜ì—…     6500
    íšŒê³„     7100
Name: ì—°ë´‰, dtype: int64

### **(3) ê·¸ë£¹ í•„í„°ë§**

**`DataFrame.groupby("ì—´ ì´ë¦„").filter(ì¡°ê±´ í•¨ìˆ˜)`**

- íŠ¹ì • ì¡°ê±´ì„ ë§Œì¡±í•˜ëŠ” ê·¸ë£¹ì„ ì„ íƒí•œë‹¤.
- **`ì¡°ê±´ í•¨ìˆ˜`** ëŠ” ê° ê·¸ë£¹ì— ì ìš©ë˜ì–´ **`True`** ë¥¼ ë°˜í™˜í•˜ëŠ” ê·¸ë£¹ë§Œ ì„ íƒí•œë‹¤.
- ì˜ˆì‹œ ì½”ë“œ
  - ì§ì›ìˆ˜ê°€ 2ëª…ë³´ë‹¤ ë§ì€ ë¶€ì„œ í•„í„°ë§

In [29]:
# ë¶€ì„œì˜ ì¸ì› ìˆ˜ê°€ 2ëª… ë³´ë‹¤ ë§ì€ ë¶€ì„œë¥¼ í•„í„°ë§
# 1. ê·¸ë£¹í™”
grouped = df.groupby("ë¶€ì„œ")


# ì¡°ê±´ í•¨ìˆ˜
# ë§¤ê°œ ë³€ìˆ˜ : ê·¸ë£¹í™” í•œ ë°ì´í„°ì˜ ê°œë³„ í–‰
def greater_cnt_two(group):
    return group["ì´ë¦„"].count() > 2  # ë¶€ì„œì˜ ì§ì› ìˆ˜ê°€ 2ëª…ë³´ë‹¤ ë§ì€ ë¶€ì„œ


# 2. í•„í„°ë§
grouped.filter(greater_cnt_two)

    ë¶€ì„œ   ì´ë¦„  ë‚˜ì´    ì—°ë´‰  ì§€ì—­
0   ì˜ì—…  ê¹€ë¯¼ìˆ˜  34  6500  ì„œìš¸
1   IT  ë°•ìˆ˜í˜„  29  5500  ë¶€ì‚°
2   ì¸ì‚¬  ì´ì˜í˜¸  40  5000  ëŒ€êµ¬
3   IT  ìµœì€ì§€  33  6200  ì„œìš¸
4   IT  ì •ìš°ì§„  28  6100  ì„œìš¸
5   ì¸ì‚¬  ê¹€ë‹¤ì€  32  5200  ëŒ€êµ¬
6   ì˜ì—…  ì´ì •í˜¸  36  6400  ë¶€ì‚°
7   IT  ë°•ì§€ì˜  27  5700  ì„œìš¸
8   ì¸ì‚¬  ì •ì˜ˆìŠ¬  38  5600  ëŒ€êµ¬
9   IT  ìµœì„±ë¯¼  31  6300  ì„œìš¸
10  ì¸ì‚¬  í•œê°€ëŒ  30  6000  ëŒ€êµ¬
11  IT  ì¥ìˆ˜ì§„  35  5800  ì„œìš¸
13  ì˜ì—…  ì‹¬ì§€í˜œ  25  6500  ë¶€ì‚°

In [34]:
# í‰ê·  ì—°ë´‰ì´ 6000 ì´ìƒì¸ ë¶€ì„œ í•„í„°ë§ -> ë¶€ì„œì˜ ì—°ë´‰ í‰ê· ì„ ë‚´ì—ˆì„ ë•Œ 6000 ì´ìƒ
# df.groupby("ë¶€ì„œ")["ì—°ë´‰"].mean()


def gt_sal(gr):
    return gr["ì—°ë´‰"].mean() >= 6000


df.groupby("ë¶€ì„œ").filter(gt_sal)

     ë¶€ì„œ   ì´ë¦„  ë‚˜ì´    ì—°ë´‰  ì§€ì—­
0    ì˜ì—…  ê¹€ë¯¼ìˆ˜  34  6500  ì„œìš¸
6    ì˜ì—…  ì´ì •í˜¸  36  6400  ë¶€ì‚°
12  ë§ˆì¼€íŒ…  ìœ¤ì„í˜¸  33  6600  ë¶€ì‚°
13   ì˜ì—…  ì‹¬ì§€í˜œ  25  6500  ë¶€ì‚°
14   íšŒê³„  ì´ë™í˜„  42  7100  ì„œìš¸
15   íšŒê³„  ê¹€ì¤€í˜¸  37  6900  ë¶€ì‚°

In [36]:
df.groupby("ë¶€ì„œ")["ì—°ë´‰"].mean()

ë¶€ì„œ
IT     5933.333333
ë§ˆì¼€íŒ…    6600.000000
ì˜ì—…     6466.666667
ì¸ì‚¬     5450.000000
íšŒê³„     7000.000000
Name: ì—°ë´‰, dtype: float64

## **[2] ë°ì´í„° ìš”ì•½**

### **(1) ë‹¤ì¤‘ ì§‘ê³„ í•¨ìˆ˜**

**`DataFrame.agg(ì§‘ê³„ í•¨ìˆ˜)`**

- ë°ì´í„°í”„ë ˆì„ì˜ ì—¬ëŸ¬ ì—´ì— ì—¬ëŸ¬ ê°œì˜ ì§‘ê³„ í•¨ìˆ˜ë¥¼ ì ìš©í•œë‹¤.
- ì˜ˆì‹œ ì½”ë“œ
  - ì—°ë´‰ì˜ ì¤‘ìœ„ ê°’ê³¼ í‰ê·

In [37]:
# ì—°ë´‰ì˜ í‰ê· , ì¤‘ìœ„ ê°’
df["ì—°ë´‰"].agg(["median", "mean"])

median    6150.0
mean      6087.5
Name: ì—°ë´‰, dtype: float64

In [38]:
# ë‚˜ì´ì˜ ìµœì†Œ, ìµœëŒ€, í‰ê· 
df["ë‚˜ì´"].agg(["min", "max", "mean"])

min     25.000
max     42.000
mean    33.125
Name: ë‚˜ì´, dtype: float64

- ê° ì—´ì— ì—¬ëŸ¬ê°œì˜ ì•„ë˜ í•¨ìˆ˜ ì ìš©
  - ì´ë¦„ : count
  - ë‚˜ì´ : min, max, mean
  - ì—°ë´‰ : median, mean

In [39]:
# ì—¬ëŸ¬ ê°œì˜ ì»¬ëŸ¼ì— ì—¬ëŸ¬ ê°œì˜ ì§‘ê³„ í•¨ìˆ˜ -> ë”•ì…”ë„ˆë¦¬ì˜ í˜•íƒœë¡œ í™œìš©, key : col, value : ì§‘ê³„ í•¨ìˆ˜
# ì´ë¦„ì˜ ê°œìˆ˜
# ì—°ë´‰ì˜ í‰ê· , ì¤‘ìœ„ ê°’
# ë‚˜ì´ì˜ ìµœì†Œ, ìµœëŒ€, í‰ê· 
df.agg(
    {
        "ì´ë¦„": "count",
        "ì—°ë´‰": ["mean", "median"],
        "ë‚˜ì´": ["min", "max", "mean"],
    }
)

          ì´ë¦„      ì—°ë´‰      ë‚˜ì´
count   16.0     NaN     NaN
mean     NaN  6087.5  33.125
median   NaN  6150.0     NaN
min      NaN     NaN  25.000
max      NaN     NaN  42.000

In [52]:
# ê·¸ë£¹í™” ëœ ë°ì´í„°ì—ë„ ë‹¤ì¤‘ ì§‘ê³„ í•¨ìˆ˜ agg()
# ì»¬ëŸ¼ì´ ê³„ì¸µ êµ¬ì¡°ë¥¼ ê°–ê²Œ ë¨
df2 = df.groupby("ì§€ì—­").agg(
    {
        "ì´ë¦„": "count",
        "ì—°ë´‰": ["mean", "median"],
        "ë‚˜ì´": ["min", "max", "mean"],
    }
)
df2  # ëª¨ë“  ê³„ì¸µ êµ¬ì¡° ì¶œë ¥
df2[["ì—°ë´‰"]]  # ì—°ë´‰ì˜ ë‹¤ì¤‘ ì§‘ê³„ ì¶œë ¥
df2[[("ì—°ë´‰", "mean")]]  # ì—°ë´‰ì˜ í‰ê·  ì»¬ëŸ¼ ì¶œë ¥ -> ()ë¡œ ë¬¶ì–´ì•¼ í•¨

             ì—°ë´‰
           mean
ì§€ì—­
ëŒ€êµ¬  5450.000000
ë¶€ì‚°  6380.000000
ì„œìš¸  6242.857143

In [57]:
df2.loc[:, ("ë‚˜ì´", ["min", "max"])]

    ë‚˜ì´
   min max
ì§€ì—­
ëŒ€êµ¬  30  40
ë¶€ì‚°  25  37
ì„œìš¸  27  42